body {
    margin: 0;
    padding: 0;
    background-image: url(../img/metal.jpg);
    background-size: cover;

}
.logo{
    margin-top: 40px;
    width: 600px;
    height: auto;
}

.field {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.start {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    background-color: darkgrey;
    border-radius: 50px;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.startNone {
    display: none;
}

/* //////////////////////////////////////////////////////////// */

span {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid black;

}

span img {
    width: 30px;
    height: 40px;
}

td {
    border: 1px solid white;
    height: 42px;
    width: 48px;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.green {
    background-color: green;
    animation: opacity 1s linear infinite;
}



.red {
    background-color: red;
    animation: opacity 1s linear infinite;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    width: 11px;
    height: 80px;
    top: 50%;
    left: 0%;
}

.atak {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    width: 11px;
    height: 80px;
    top: 40%;
    left: 0%;
}

.move {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    width: 11px;
    height: 80px;
    top: 30%;
    left: 0%;
}



.buttonDisplay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
    height: 80px;
    top: 50%;
    left: 0%;
}

.atakDisplay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
    height: 80px;
    top: 40%;
    left: 0%;
}

.moveDisplay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
    height: 80px;
    top: 30%;
    left: 0%;
}

.button h1 {
    display: none;
}

.atak h1 {
    display: none;
}

.move h1 {
    display: none;
}

.capitalRed {
    background-image: url(../img/redFlag.jpg);
    background-size: cover;
}

.capitalGreen {
    background-image: url(../img/greenFlag.jpg);
    background-size: cover;
}


.hand {
    cursor: -ms-grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#dialogbox {
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
}

#dialogbox>div {
    background: #FFF;
    margin: 8px;
}

#dialogbox>div>#dialogboxhead {
    background: #666;
    font-size: 19px;
    padding: 10px;
    color: #CCC;
}

#dialogbox>div>#dialogboxbody {
    background: #333;
    padding: 20px;
    color: #FFF;
}

#dialogbox>div>#dialogboxfoot {
    background: #666;
    padding: 10px;
    text-align: right;
}

.stay {
    background: transparent;
}

.explosion {
    background: url("../img/explosion.png");
    animation: explosion 1s steps(9);
}

@keyframes explosion {
    0% {
        background-position-x: -30px;
        background-position-y: -22px;
    }
    100% {
        background-position-x: -900px;
        background-position-y: -900px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.4;
    }
}

